.authViaSocials {
    background-color: global.$authViaSocialsBtn;
    width: 5rem;
    height: 3.125rem;
    border-radius: 15px;

    border: none;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1),
    inset 0 4px 10px rgba(0, 0, 0, 0.1);
}

